<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="./shop.css">
<body>
    
    <header class="main-header"> 

        <nav class="main-header__nav">

            <ul class="main-header__item-list">

                <li class="main-header__item"><a href="/shop">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add product</a></li>
                <li class="main-header__item"><a class="active" href="/new/contact">Contact</a></li>

            </ul>
            
        </nav>

    </header>

    <main>
        <form action="/success" method="POST">
            <label>Enter your name</label>
            <input type="text" name="name">
            <label>Enter your email Id</label>
            <input type="email" name="email">
            <button type="submit">Submit</button>
        </form>
    </main>

</body>
</html>